body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bodynohead {
  margin: 1% 7% 5% 7%;
}

/* ******** Filter Page ********* */

.filterBar {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  align-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 20px; */
  /* max-height: 350px; */
  width: 75%;
  height: 58px;
  background-color: white;
  padding: 0.4rem;
  border-radius: 3px;
  position: sticky;
  top: 0;
}


.filterNav {
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  /* padding-left: 100px; */
  margin-left: 40px;
  margin-bottom: 30px;
}

.filterBar h4 {
  text-align: center;
}

/* ******** All Trails Page ********* */

.trailList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 150px;
}

.trailsHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}

.trailsHomeContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.mainTrailTitle {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.home {
  text-align: center;
  margin-bottom: 15px;
}


/* ******** Individual Trail Page ********* */


.trailstats {
  display:flex; 
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.trailComponents h2 {
  text-align: center;
}

.carousel {
  width: 900px;
  height: 500px;
}

.carousel .item {
  max-height: 500px;
}

.carouselContainer {
  margin-bottom: 50px;
  margin-top: 15px;
}

/* ******** Header ********* */

.header {
  background-color: #bfd7e8;
  padding-top: 15px;
  padding-right: 20px;
  margin-left: 0px;
}

#navbar {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4%;
  padding: 0rem;
}

.navbar a {
  font-size: 18px;
}

.navbar a:hover {
  background-color: white;
  border-radius: 3px;
}

.logo {
  height: 100px;
  width: auto;
  border-radius: 50%;
  opacity: 50%;
  margin-left: 15px;
  margin-bottom: 17px;
}

.brandelements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ******** Profile ********* */

.editcontainer {
  text-align: center;
}

.profiledetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profilestats {
  background-color: rgb(49, 165, 126);
  padding: 1rem;
  border-radius: 6px;
  width: 650px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.profilepicture {
  width: auto;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
}

.profilelist {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.profilepage h2 {
  text-align: center;
}

.addTrail {
  text-align: center;
}

/* ******** Fav List ********* */

.favList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favCards {
  display: flex;
  flex-direction: row;
}

/* ******** Map ********* */

.google-map {
  width: 100%;
  height: 60vh;
  margin-bottom: 50px;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 60vh;
  }

}

.map {
  height: 65vh;
  margin-left: auto;
  margin-right: auto;
}

.google-map-main {
  width: 100%;
  height: 50vh;
  margin-bottom: 50px;

}

@media screen and (min-width: 799px) {
  .google-map-main {
    height: 50vh;
  }
}

.silly {
  height: 50px;
}